@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+KR:wght@200..900&display=swap");
.App {
  text-align: center;
  font-family: "Noto Sans KR";
  font-style: normal;
}
